<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="index-box">

    <p><%= link_to "Search Users", new_search_path %></p>

	<%= will_paginate %>

	<ul class="users">
	  <%= render @users %>
	</ul>     
	  <%-# render the _user.html.erb partial -%>
	  <%-# Here Rails infers that @users is a list of User objects -%>
	  <%-# Rails iterates through them and renders each one with the _user.html.erb partial -%>

	  <%= will_paginate %>
</div>

	

<%-# will_paginate assumes the existence of an instance variable called @users as we are in the Users controller. We could specify "will_paginate @users" -%> 