<% if object.errors.any? %>
  <div id="error_explanation">
  <%# CSS id error_explanation for styling the error messages %>

    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <%# Rails method 'count' returns the number of errors %>
    <%# pluralize is a text helper, gives pluralized version of its second argument %>

    <ul>
    <% object.errors.full_messages.each do |msg| %>

        <% if msg.exclude? "digest"  %>
        <%# Print list of errors except 'Password Digest' %>
          <li>* <%= msg %></li>
        <% end %> 

    <% end %>
    </ul>
    
  </div>
<% end %>
