@import "bootstrap";
/* Includes the entire Bootstrap CSS framework */

/* Sass is a language for writing stylesheets that adds features to CSS .e.g. nesting and variables. */

/* mixins, variables, etc. */
/* A mixin allows a group of CSS rules to be packaged and useed for multiple elements, e.g. by calling below "@include box_sizing" */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin box_padding {
  border:1px;
  border-radius:10px;       /* rounded corners */
  -moz-border-radius:10px; /* Old Firefox */
  box-shadow: 10px 10px 5px #888888;
  padding: 20px;

}



/* universal */

html {
 	  overflow-y: scroll;
	 }

/* puts 60 pixels of padding at the top of the page/navbar */
body {
  	  padding-top: 60px;
	 }

section {
		  overflow: auto;
		}

textarea {
		  resize: vertical;
		 }

/* assign any elements that need to be centred with this class */
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}



h6 {
  
  font-size: 1.0em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* header tag - Logo ID */
/* convert text to uppercase, modify size, color, and placement.  */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}



/* footer tag */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}




/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}




/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.forms_box {
  background-color:#F9EDDF;   /* pale beige colour */
  @include box_padding;
}


/* users index */

.users {
  list-style: none;
/*   margin: 0; */

  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


.index-box {
  background-color:#EDF4FE;   
  @include box_padding;

  width:500px;
  padding:10px;
  margin: 0 auto;
}





/* userposts */

.userposts {

  @include box_padding;
  background-color:#EDF4FE;

  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}



/* profile info */

.profiles {
  @include box_padding;
  background-color:#F9EDDF;   /* pale beige colour */
}


.profile_list{
   list-style: none;
   li {
       padding: 10px 0;
       border-top: 1px solid #E0DCDC;
      }
}




.home-box {
  padding: 20px;

  /* Firefox 3.6+ */ 
  background: -moz-radial-gradient(circle, #E8D5BE, #FFFFFF);

  /* Safari 4-5, Chrome 1-9 */ 
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#E8D5BE), to(#FFFFFF)); 

  /* Safari 5.1+, Chrome 10+ */ 
  background: -webkit-radial-gradient(circle, #E8D5BE, #FFFFFF); 

  
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #E8D5BE, #FFFFFF);

}


