<%-# Partial file rendered in App layout -%>

<footer class="footer">
  <small>
    Visit <a href="http://electricpicnic.ie/">Electric Picnic</a> site.
  </small>

  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  
</footer>